.character {
  border: black solid 0.1rem;
  padding: 1rem;
  margin-top: 2rem;
}

.characterbox-character-textinput,
.characterbox-writing-section,
.characterbox-name,
.level-dropdown {
  min-height: 9.5rem;
  display: inline-block;
  border: 0.1rem solid var(--lightgray-color);
  background-color: var(--white-color);
  padding: 1rem;
  font-size: 1.4rem;
  font-family: var(--sub-font);
}
.characterbox-name,
.characterbox-character-textinput {
  min-height: 2rem;
  width: 25%;
}

.characterbox-writing-section:focus,
.characterbox-name:focus {
  border: 0.1rem solid var(--gray-color);
}

.characterbox-writing-section:before,
.characterbox-name:before {
  color: var(--lightgray-color);
}

.characterbox-name:empty::before {
  content: "Write your NPC's name or title!";
}

.characterbox-writing-section:empty::before {
  content: "Write about your character! It's a good idea to think of what kind of environment they grew up in, the factors that shaped their motivation and personality, and other plot-rich factors.";
}

.characterbox-character-textinput:focus {
  border: 0.1rem solid var(--gray-color);
}
.characterbox-character-textinput:empty::before {
  content: "";
  color: var(--lightgray-color);
}
.characterbox-character-textinput:empty:focus::before {
  content: "";
}

.level-dropdown {
  min-height: 2rem;
  min-width: 7rem;
}

//css for add button, doesn't matter as there is no add button rn
.button-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}
.characterbox-addbutton,
.characterbox-deletebutton {
  height: 3.5rem;
  line-height: 3.5rem;
  padding: 0 2.5rem;
  border: solid black 0.1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
  transition: all 0.3s;
  font: 800 1.2rem var(--sub-font);
  background-color: var(--yellow-color);
}

.characterbox-deletebutton {
  background-color: #ff5e42;
}
.characterbox-addbutton:hover,
.characterbox-deletebutton:hover {
  box-shadow: 0 0.5rem 1rem rgba(255, 236, 151, 0.7);
  transform: translateY(-0.5rem);
  z-index: 1;
}

.characterbox-deletebutton:hover {
  box-shadow: 0 0.5rem 1rem #e25037;
}
