.characterbox-character {
  margin-top: 2rem;
}

.characterbox-image {
  max-height: 20rem;
  position: absolute;
}

.ugh {
  position: relative;
}

.ugh-inner {
  position: absolute;
  top: 22rem;
}
.characterbox-character-info {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  left: 24rem;
}

.characterbox-writing-section {
  min-height: 9.5rem;
  display: block;
  border: 0.1rem solid var(--lightgray-color);
  background-color: var(--white-color);
  padding: 1rem;
  font-size: 1.4rem;
  font-family: var(--sub-font);
}

.characterbox-writing-section:focus {
  border: 0.1rem solid var(--gray-color);
}

.characterbox-writing-section:before {
  color: var(--lightgray-color);
}

.characterbox-writing-section:empty::before {
  content: "Write about your setting! It's a good idea to think of what kind of culture the people there would have, how they'd react to outsiders, and other plot-rich factors.";
}

.characterbox-character-textinput {
  display: block;
  border: 0.1rem solid var(--lightgray-color);
  background-color: var(--white-color);
  padding: 1rem;
  font-size: 1.4rem;
  font-family: var(--sub-font);
  min-height: 2rem;
  width: 25rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.characterbox-character-textinput:focus {
  border: 0.1rem solid var(--gray-color);
}
.characterbox-character-textinput:empty::before {
  content: "";
  color: var(--lightgray-color);
}
.characterbox-character-textinput:empty:focus::before {
  content: "";
}

.characterbox-addbutton {
  position: absolute;
  top: 30rem;
  right: 0rem;
  height: 3.5rem;
  line-height: 3.5rem;
  padding: 0 2.5rem;
  border: none;
  border-radius: 0.5rem;
  margin-top: 1rem;
  transition: all 0.3s;
  font: 800 1.2rem var(--sub-font);
  background-color: var(--yellow-color);
}

.characterbox-addbutton:hover {
  box-shadow: 0 0.5rem 1rem rgba(255, 236, 151, 0.7);
  transform: translateY(-0.5rem);
  z-index: 1;
}
