.searchbox {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.searchbox,
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.monster-search {
  width: 30rem;
  padding: 1rem;
  font: 1.4rem var(--sub-font);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.searchbtn {
  width: 4.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--yellow-color);
}
.monster-search,
.searchbtn {
  border: 0.1rem solid var(--black-color);
  height: 4rem;
}
.fa-search {
  font-size: 1.6rem;
  font-weight: 400;
}
.searchbtn:hover {
  background-color: var(--darkyellow-color);
}
.search-reset {
  height: 3.8rem;
  padding: 0 1.5rem;
  font: 1.4rem var(--sub-font);
  background-color: var(--orange-color);
  margin-right: 2rem;
  border: 0.001rem solid var(--gray-color);
}
.search-reset:hover {
  background-color: var(--darkorange-color);
}
.card-box,
.selected-box,
.selected-box-two {
  padding: 3rem 0;
  max-height: 35rem;
  width: 100%;
  overflow-y: scroll;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.monster-card {
  height: 27rem;
  max-width: 25rem;
  min-width: 20rem;
  padding: 1rem;
  border: 0.01rem solid #000;
  background: var(--beige-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s;
  overflow: hidden;
}
.monster-card:hover {
  box-shadow: 0 1rem 1.5rem rgba(219, 206, 175, 0.7);
  transform: translateY(-0.5rem);
  z-index: 1;
}
.monster-card:hover .name {
  padding: 1rem;
  width: 120%;
}
.monster-card:hover .monster-info {
  display: block;
}
.monster-card:hover .addbtn,
.monster-card:hover .learnbtn {
  display: block;
}
.addbtn,
.learnbtn,
.addbutton,
.deletebutton,
.settingbox-card-add {
  height: 3.5rem;
  line-height: 3.5rem;
  padding: 0 2.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
  font: 800 1.2rem var(--sub-font);
}
.addbtn,
.addbutton,
.settingbox-card-add {
  margin-top: 1.5rem;
  background-color: var(--yellow-color);
}
.addbtn {
  display: none;
}
.learnbtn {
  margin-top: 0.5rem;
  background-color: var(--white-color);
}
.addbtn:hover,
.settingbox-card-add:hover {
  box-shadow: 0 0.5rem 1rem rgba(255, 236, 151, 0.7);
}
.learnbtn:hover {
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.7);
}
.addbtn:hover,
.learnbtn:hover,
.addbutton:hover,
.deletebutton:hover,
.settingbox-card:hover,
.settingbox-card-add:hover {
  transform: translateY(-0.3rem);
  z-index: 1;
}
.monster-info {
  line-height: 150%;
  font-family: var(--sub-font);
  margin-top: 1rem;
  display: none;
}
.name {
  width: 100%;
  font: 1.8rem var(--sub-font);
  letter-spacing: 0.1rem;
  font-weight: 900;
  padding: 2rem;
  background-color: var(--yellow-color);
}
.popup-stats,
.popup-abilities {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 2rem;
  gap: 0.75rem;
}
.monster-description {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 150%;
}
.selected-box,
.selected-box-two {
  margin-top: 2rem;
  gap: 1rem;
}
.card-box {
  width: 100%;
  margin-bottom: 2rem;
}
.fa-dragon,
.fa-helmet-battle {
  font-size: 10rem;
  opacity: 0.3;
  background-color: var(--white-color);
  padding: 3rem;
  text-align: center;
  width: 20rem;
}
.fa-dragon::after,
.fa-helmet-battle::after {
  margin-top: 2rem;
  display: block;
  content: "You have no monsters selected. Add them above!";
  font: 900 1.3rem var(--sub-font);
  height: 4rem;
}
.fa-helmet-battle::after {
  content: "You have no characters written. Add them below!";
}
.monster-popup {
  position: fixed;
  z-index: 1;
  top: 15%;
  left: 25%;
  width: 50%;
  min-height: 50%;
  background-color: var(--white-color);
  box-shadow: 0 2rem 3rem rgba(255, 255, 255, 0.4);
}
.popup-stats,
.popup-abilities {
  padding: 3rem;
}
.monster-popup h2 {
  padding-left: 3rem;
}
.monster-popup h3 {
  font: 700 1.5rem var(--sub-font);
  line-height: 200%;
}
.fa-times {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.75rem 2rem;
  font-size: 3rem;
  font-weight: 100;
}
.fa-times:hover {
  color: var(--white-color);
}
