.settingbox-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.subheading {
  font: 1.6rem var(--sub-font);
  text-align: center;
  padding: 0 20%;
  color: var(--white-color);
  margin-top: 1.5rem;
}

.settingbox-card {
  height: 23rem;
  width: 30rem;
  border: 0.01rem solid #000;
  border-radius: 1rem;
  margin-top: 3rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s;
  background: #9faeff;
}

.settingbox-card-heading {
  font: 1.8rem var(--sub-font);
  letter-spacing: 0.1rem;
  font-weight: 900;
  margin-bottom: 1rem;
  display: none;
}

.settingbox-card-information {
  font: 1.2rem var(--sub-font);
  letter-spacing: 0.1rem;
  font-weight: 900;
  display: none;
}

.settingbox-card-image {
  border-radius: 1rem;
  height: 100%;
  width: 100%;
  border: 0.01rem solid #000;
}

.settingbox-card-add {
  display: none;
  margin-bottom: 1rem;
}

.settingbox-card:hover .settingbox-card-heading,
.settingbox-card:hover .settingbox-card-information,
.settingbox-card:hover .settingbox-card-add {
  display: block;
}
.settingbox-card:hover .settingbox-card-image {
  display: none;
}

.settingbox-subheading-two {
  text-align: center;
  font: 4rem var(--main-font);
}
.settingbox-enter-your-own {
  margin-top: 2rem;
}

.settingbox-setting-input {
  min-height: 4rem;
  width: 30rem;
  margin-bottom: 2rem;
  display: block;
}
.settingbox-writing-section {
  min-height: 20rem;
  display: block;
}
.settingbox-setting-input:empty::before {
  content: "Choose a setting for your story";
}
.settingbox-writing-section:empty::before {
  content: "Write about your setting! It's a good idea to think of what kind of culture the people there would have, how they'd react to outsiders, and other plot-rich factors.";
}

//media query (singular)
@media only screen and (max-width: 670px) {
  .settingbox-cards {
    overflow-y: hidden;
    display: flex;
  }
  .settingbox-card {
    flex-shrink: 0;
  }
}
