@import "_monsters.scss";
@import "_settings.scss";
@import "_characters.scss";
:root {
  --gray-color: #403f4b;
  --yellow-color: #ffec97;
  --red-color: #ff6a71;
  --white-color: #fff;
  --black-color: #000;
  --lightgray-color: #888;
  --darkyellow-color: #eed97c;
  --beige-color: #dacaa5;
  --orange-color: #ff5e42;
  --darkorange-color: #ec573d;
  --main-font: "New Rocker", cursive;
  --sub-font: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}
html,
body * {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
body {
  background: var(--gray-color);
}
button {
  border: none;
  cursor: pointer;
}
.navbox {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
nav {
  min-width: 40%;
  background-color: var(--yellow-color);
  border-radius: 50rem;
  position: fixed;
  box-shadow: 0 0.5rem 2rem 0.1rem var(--darkyellow-color);
  text-align: center;
  vertical-align: center;
  transition: all 0.5s;
  z-index: 2;
  border: 0.01rem solid var(--black-color);
  padding-top: 0;
  margin-top: 0;
  ul {
    list-style: none;
    li {
      display: inline-block;
      font-family: var(--sub-font);
      border-right: 0.01rem solid var(--black-color);
      border-radius: 0;
      transition: all 0.3s;
      padding: 1.675rem 0;
      .nav-text {
        text-decoration: none;
        font-size: 1.65rem;
        padding-left: 5rem;
        padding-right: 1.5rem;
        letter-spacing: 0.1rem;
        font-weight: 500;
        color: var(--black-color);
      }
    }
  }
}
nav i {
  font-size: 2.5rem;
  padding-right: 3rem;
  color: var(--gray-color);
}
nav li:last-child {
  border-right: none;
}
nav:hover li {
  border-right: none;
}
nav li:hover,
nav li:focus {
  background-color: var(--darkyellow-color);
  border-radius: 5rem;
}
.container {
  margin: 0 10%;
  width: 80%;
  min-height: 50rem;
  background: var(--red-color);
  padding: 4rem;
  border: 0.1rem solid var(--black-color);
  margin-bottom: 3rem;
}
h1 {
  font: 5rem var(--main-font);
  color: var(--yellow-color);
  text-align: center;
}
.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 9rem;
}
.logo {
  font: 7rem var(--main-font);
  color: var(--white-color);
  padding-bottom: 2rem;
  padding-left: 1.5rem;
}
.fa-dice-d20 {
  font-size: 7rem;
  color: #ffffff;
  position: relative;
}
.dice-number {
  font-size: 2rem;
  position: absolute;
  top: 2.7rem;
  left: 2.8rem;
  color: var(--black-color);
}
.label {
  font: 900 1.6rem var(--sub-font);
  color: var(--black-color);
  margin-bottom: 0.5rem;
}
.textinput,
.label,
.textarea {
  display: block;
}
.textinput,
.textarea,
.settingbox-setting-input,
.settingbox-writing-section {
  border: 0.1rem solid var(--lightgray-color);
  background-color: var(--white-color);
  padding: 1rem;
  font-size: 1.4rem;
  font-family: var(--sub-font);
}
.textinput {
  min-height: 4rem;
  width: 25rem;
  margin-bottom: 2rem;
}
.textarea {
  min-height: 50rem;
}
.textinput:focus,
.textarea:focus,
.settingbox-writing-section:focus,
.settingbox-setting-input:focus,
.characterbox-writing-section:focus,
.characterbox-name:focus,
.race-class:focus {
  border: 0.1rem solid var(--gray-color);
}
.textinput:empty::before,
.textarea:empty::before,
.settingbox-writing-section:before,
.settingbox-setting-input:before,
.characterbox-writing-section:before,
.characterbox-name:before {
  color: var(--lightgray-color);
}
.textinput:empty::before {
  content: "Make a title for your story";
}
.textarea:empty::before {
  content: "Write your one-shot story (Pro tip: Remember to think of all the ways that players may act in the game!)";
}
.textinput:empty:focus::before,
.textarea:empty:focus::before,
.settingbox-writing-section:empty:focus::before,
.settingbox-setting-input:empty:focus::before,
.characterbox-writing-section:empty:focus::before {
  content: "";
}
.morebtn-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.morebtn {
  font: 1.5rem var(--sub-font);
  background-color: var(--yellow-color);
  padding: 1.5rem;
  border: 0.001rem solid var(--gray-color);
}
.morebtn:hover {
  background-color: var(--darkyellow-color);
}
/* MEDIA QUERIES */

/* Large devices (laptops/desktops, up to 1200px) */
@media only screen and (max-width: 1200px) {
  html,
  body * {
    font-size: 50%;
  }
  h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 768px) {
  html,
  body * {
    font-size: 35%;
  }
  .container {
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
    border: none;
  }
  .dice-number {
    top: 2.55rem;
  }
  h1 {
    font-size: 4rem;
  }
  nav {
    min-width: 60%;
    max-width: 100%;
  }
  .nav-text {
    display: none;
  }
  nav i {
    padding: 0 3rem;
    font-size: 4rem;
  }
}
