@import "_monsters.scss";
:root {
  --gray-color: #403F4B;
  --yellow-color: #ffec97;
  --red-color: #ff6a71;
  --white-color: #fff;
  --black-color: #000;
  --lightgray-color: #888;
  --darkyellow-color: #d3bf68;
  --main-font: 'New Rocker', cursive;
  --sub-font: 'Open Sans', sans-serif;
}
html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}
html,
body * {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 1.5rem;
}
body {
  background: var(--gray-color);
}
.navbox {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
nav {
  min-width: 50%;
  background-color: var(--yellow-color);
  border-radius: 50rem;
  position: fixed;
  box-shadow: 0 .5rem 2rem .1rem var(--darkyellow-color);
  text-align: center;
  vertical-align: center;
  transition: all 0.3s;
    ul {
    list-style: none;
      li {
      display: inline-block;
      font-family: var(--sub-font);
      border-right: .1rem solid var(--black-color);
      border-radius: 0;
      transition: all 0.3s;
      padding: 1.675rem 0;
        a {
        color: var(--black-color);
        text-decoration: none;
        font-size: 1.65rem;
        padding: 0 5rem;
        letter-spacing: 0.1rem;
        font-weight: 500;
        transition: all 0.3s;
      }
    }
  }
}
nav li:last-child {
  border-right: none;
}
nav:hover li {
  border-right: none;
}
nav li:hover,
nav li:focus {
  background-color: var(--darkyellow-color);
  border-radius: 3rem;
}
.container {
  margin: 0 10%;
  width: 80%;
  min-height: 50rem;
  background: var(--red-color);
  padding: 4rem;
  border: .2rem solid var(--black-color);
}
h1 {
  font: 5rem var(--main-font);
  color: var(--yellow-color);
  text-align: center;
}
.logo {
  font: 7rem var(--main-font);
  color: var(--white-color);
  padding-top: 9rem;
  padding-bottom: 2rem;
}
.label {
  font: 1.7rem var(--sub-font);
  color: var(--black-color);
  margin-bottom: .5rem;
}
.textinput, .label, .textarea {
  display: block;
}
.textinput, .textarea {
  border: .1rem solid var(--lightgray-color);
  background-color: var(--white-color);
  padding: 1rem;
  font-size: 1.4rem;
  font-family: var(--sub-font);
}
.textinput {
  min-height: 2rem;
  width: 25rem;
  margin-bottom: 2rem;
}
.textarea {
  min-height: 50rem;
}
.textinput:focus, 
.textarea:focus {
  outline: none;
  border: .1rem solid var(--gray-color);
}
.textinput:empty::before,
.textarea:empty::before {
  color: var(--lightgray-color);
}
.textinput:empty::before {
  content: 'Make a title for your story';
}
.textarea:empty::before {
  content: 'Write your one-shot story (Pro tip: Remember to think of all the ways that players may act in the game!)';
}
.textinput:empty:focus::before,
.textarea:empty:focus::before {
  content: '';
}
